@using System.Linq
@model Tuple<IEnumerable<BarberModel>, IEnumerable<OfferModel>>
@{
    ViewData["Title"] = "Records";
}
<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 85%;">
    @using (Html.BeginForm("Index", "BusyRecords", FormMethod.Post))
    {
        <div class="bootstrap-iso">
            <div class="d-flex justify-content-start flex-row flex-wrap">
                <div class="row" style="width: 40rem">
                    <div>
                        @{
                            var errMessage = ViewBag.Message;
                            <h1>@errMessage</h1>
                        }
                    </div>
                    <div class="d-flex justify-content-start">
                        <select name="barberId" style="margin: 10px;">
                            @foreach (var barber in Model.Item1.OrderBy(b => b.Surname))
                            {
                                <option value="@barber.Id">@barber.Name @barber.Surname</option>
                            }
                        </select>
                        <select name="offerId" style="margin: 10px;">
                            @foreach (var offer in Model.Item2.OrderBy(b => b.Cost))
                            {
                                <option value="@offer.Id">@offer.Title @offer.Cost</option>
                            }
                        </select>
                    </div>
                    <div class="d-flex justify-content-start">
                        <input class="form-control" style="margin: 10px;" type="datetime-local" name="date" />
                    </div>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-primary " name="submit" type="submit" style="margin: 10px">Send report</button>
                    </div>
                </div>
        </div>
    </div>
    }
</div>