@model IEnumerable<BarberModel>
@{
    ViewData["Title"] = "Barbers";
}

@{if(User.IsInRole("Admin"))
    @using (Html.BeginForm("Add", "Barbers", FormMethod.Get))
    {
        <div class="form-group">
            <button type="submit" class="btn btn-success">Add barber</button>
        </div>
    }
}


<div class="d-flex justify-content-start flex-row flex-wrap">
    @foreach (var barber in Model.OrderBy(s => s.Surname))
    {
    <div class="card" style="width: 18rem; height: 28rem; margin: 2rem;">
        <img class="card-img-top" src="@barber.ImagePath" style="width: 240px; height: 240px;" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@barber.Name @barber.Surname</h5>
            <p class="card-text">@barber.Information</p>
        </div>
        @{if (User.IsInRole("Admin"))
            {
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Barbers", barber)'">Edit</button>
                @using (Html.BeginForm("Remove", "Barbers", FormMethod.Post))
                {
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger"
                                name="id" value="@barber.Id">Remove</button>
                    </div>
                }
            }
        }
    </div>
    }
</div>
