@model BarberShop.MVC.Models.UsersPage.IndexModel
@{
    ViewData["Title"] = "Users";
}

<div class="d-flex justify-content-center flex-column" style="vertical-align: top; width: 100%; height: 95%;">
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <td>Full name</td>
                    <td>Email</td>
                    <td>Nickname</td>
                    <td>Password</td>
                    <td>Ban button</td>
                    <td>Remove button</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users.Select((user, i) => new { user, i }))
                {
                    <tr>
                        <th scope="row">@item.i</th>
                        <td>@item.user.Name @item.user.Surname @item.user.FatherName</td>
                        <td>@item.user.Email</td>
                        <td>@item.user.NickName</td>
                        <td>@item.user.Password</td>
                        <td>
                            @if (item.user.Role.Name != "Admin")
                            {
                                if (item.user.IsBanned)
                                {
                                <form method="post" asp-action="UnsetBan">
                                    <button class="btn btn-success" type="submit"
                                            name="id" value="@item.user.Id">
                                        Allow
                                    </button>
                                </form>
                                }
                                else
                                {
                                <form method="post" asp-action="SetBan">
                                    <button class="btn btn-danger" type="submit"
                                            name="id" value="@item.user.Id">
                                        Ban
                                    </button>
                                </form>
                                }
                            }
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-route-id="@item.user.Id" asp-action="Remove">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center flex-row">
        <div>
            @if (Model.PageModel.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-pageSize=""
                   asp-route-page="@(Model.PageModel.PageNumber - 1)"
                   class="btn btn-primary"
                   style="margin: 5px;">
                    Prev
                </a>
            }
        </div>
        <div>
            @if (Model.PageModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-pageSize=""
                   asp-route-page="@(Model.PageModel.PageNumber + 1)"
                   class="btn btn-primary"
                   style="margin: 5px;">
                    Next
                </a>
            }
        </div>
    </div>
</div>