@model IEnumerable<OfferModel>
@{
    ViewData["Title"] = "Offers";
}
<div class="d-flex justify-content-center flex-column" style="width: 80%; height: 100%;">
    @using (Html.BeginForm("Index", "Offers", FormMethod.Get))
    {
        <div class="d-flex justify-content-start flex-row">
            <input name="offerTitleSubstr" class="form-control"/>
            <button class="btn btn-primary" name="submit" type="submit" style="margin: 10px">Find</button>
        </div>
    }
    @using (Html.BeginForm("AdvancedSearch", "Offers", FormMethod.Get))
    {
        <div class="form-group">
            <button type="submit" class="btn btn-success">Advanced Search</button>
        </div>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Add" class="btn btn-primary" style="margin: 5px; width: 17rem;">
            New
        </a>
    }
    @{
        foreach (var offer in Model.OrderBy(s => s.Title))
        {
        <div class="card" style="width: 20rem; height: 10rem; margin: 2rem;">
            <h5 class="card-title">@offer.Title</h5>
            <h6 class="card-text">Cost: @offer.Cost</h6>
            <h6 class="card-text">Duration: @offer.Duration</h6>
            @if (User.IsInRole("Admin"))
            {
                <button type="button" class="btn btn-success" style="margin: 5px; width: 8rem;"
                        onclick="location.href = '@Url.Action("Edit", "Offers", offer)'">
                    Edit
                </button>
                @using (Html.BeginForm("Remove", "Offers", FormMethod.Post))
                {
                    <button type="submit" name="id" value="@offer.Id"
                            class="btn btn-danger" style="margin: 5px; width: 8rem;">
                        Remove
                    </button>
                }
            }
        </div>
        }
    }
</div>
