@model IEnumerable<OfferModel>
@{
    ViewData["Title"] = "Offers";
}
<div class="d-flex flex-column" style="width: 100%; height: 100%;">
    @using (Html.BeginForm("Index", "Offers", FormMethod.Get))
    {
        <div class="d-flex justify-content-center flex-row" style="margin: 5px;">
            <input name="offerTitleSubstr" class="form-control" />
            <button class="btn btn-primary" name="submit" type="submit" style="margin-left: 10px;">
                Find
            </button>
        </div>
    }
    <div class="d-flex flex-row">
        @using (Html.BeginForm("AdvancedSearch", "Offers", FormMethod.Get))
        {
            <div class="form-group">
                <button type="submit" class="btn btn-success" style="margin: 5px; width: 15rem;">
                    Advanced Search
                </button>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div>
                <a asp-action="Add" class="btn btn-primary" style="margin: 5px; width: 15rem;">
                    Add new offer
                </a>
            </div>
        }
    </div>
    <div class="d-flex flex-row justify-content-center flex-wrap" style="width: 100%;">
        @{
            foreach (var offer in Model.OrderBy(s => s.Title))
            {
                <div class="card" style="width: 20rem; height: 10rem; margin: 2rem;">
                    <h5 class="card-title" style="margin-left: 5px;">@offer.Title</h5>
                    <div class="card-body">
                        <h6 class="card-text">Cost: @offer.Cost</h6>
                        <h6 class="card-text">Duration: @offer.Duration</h6>
                        <div class="d-flex flex-row">
                            @if (User.IsInRole("Admin"))
                            {
                                <button type="button" class="btn btn-success" style="margin: 5px; width: 8rem;"
                                        onclick="location.href = '@Url.Action("Edit", "Offers", offer)'">
                                    Edit
                                </button>
                                @using (Html.BeginForm("Remove", "Offers", FormMethod.Post))
                                {
                                    <button type="submit" name="id" value="@offer.Id"
                                            class="btn btn-danger" style="margin: 5px; width: 8rem;">
                                        Remove
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
